@mixin overlay($background) {
  position: fixed;
  z-index: 300;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $background;
}

@mixin modal($height, $width, $background) {
  position: fixed;
  z-index: 301;
  width: 100%;
  height: 70vh;
  @include tablet {
    width: $width;
    height: auto;
    @if $height {
      height: $height;
    }
  }
  border-radius: 0.5rem;
  outline: none;
  background: $background;
  display: flex;
  flex-direction: column;

  animation: appearance 0.5s ease;
}

@mixin fluid-modal($background) {
  position: fixed;
  z-index: 301;
  background: $background;
  border-radius: 0.5rem;
  outline: none;
  display: flex;
  flex-direction: column;
  padding: $small-space;
  animation: appearance 0.5s ease;
}

@keyframes appearance {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
