.player {
  display: none;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $player-height-small;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0.5rem $black;

  @include tablet {
    height: $player-height;
  }

  @include desktop {
    height: $player-height-desktop;
  }
}

.player-is-open .player {
  display: flex;
}

.player__skip,
.player__skip-text {
  display: none;
  cursor: pointer;

  @include tablet {
    display: block;
    width: 4rem;
    height: 4rem;
  }

  @include desktop {
    width: 6rem;
    height: 6rem;
  }
}

.player__play {
  display: block;
  fill: $black;
  width: 5rem;
  height: 5rem;

  @include desktop {
    width: 8rem;
    height: 8rem;
  }
}

.player__controls-left,
.player__controls-right {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.player__link-to-podcast {
  display: none;

  @include tablet {
    margin-left: $space;
    display: block;
  }

  @include desktop {
    margin-left: $large-space;
  }
}

.player__podcast-atrwork {
  height: 7rem;
  width: 7rem;
  transition: all 0.3s ease;
  border: 0.1rem solid $black;
  @include desktop {
    height: 9rem;
    width: 9rem;
  }
}

.player__podcast-atrwork:hover {
  transform: scale(1.2);
}

.player__skip {
  background-repeat: no-repeat;
}

.player__play {
  margin: 0 $small-space;

  @include desktop {
    margin: 0 $space;
  }
}

.player__skip-forward {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMDMuNSAyODguOCI+PHRpdGxlPmZvcndhcmQ8L3RpdGxlPjxwYXRoIGQ9Ik0yNDkuNiwxNjMuM2ExMTUsMTE1LDAsMSwxLTEyNS4xLTEyNFYxOS4yMUM1NSwyNC41OCwwLDgyLjg5LDAsMTUzLjhjMCw3NC40NCw2MC41NiwxMzUsMTM1LDEzNSw3MS4yNSwwLDEyOS43Ny01NS40OCwxMzQuNjYtMTI1LjVaIiBmaWxsPSIjMzMzIi8+PGxpbmUgeDE9IjEyNC41IiB5MT0iMjguODciIHgyPSIyNTMuNSIgeTI9IjI4Ljg3IiBmaWxsPSJub25lIiBzdHJva2U9IiMzMzMiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyMCIvPjxwb2x5Z29uIHBvaW50cz0iMzAzLjUgMjguODcgMjUzLjUgMCAyNTMuNSA1Ny43MyAzMDMuNSAyOC44NyIgZmlsbD0iIzMzMyIvPjwvc3ZnPg==);
}

.player__skip-back {
  margin-left: $space;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMDMuNSAyODguOCI+PHRpdGxlPmJhY2s8L3RpdGxlPjxwYXRoIGQ9Ik01My45LDE2My4zQTExNSwxMTUsMCwxLDAsMTc5LDM5LjI5VjE5LjIxYzY5LjU1LDUuMzcsMTI0LjUsNjMuNjgsMTI0LjUsMTM0LjU5LDAsNzQuNDQtNjAuNTYsMTM1LTEzNSwxMzUtNzEuMjUsMC0xMjkuNzctNTUuNDgtMTM0LjY2LTEyNS41WiIgZmlsbD0iIzMzMyIvPjxsaW5lIHgxPSIxNzkiIHkxPSIyOC44NyIgeDI9IjUwIiB5Mj0iMjguODciIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjIwIi8+PHBvbHlnb24gcG9pbnRzPSIwIDI4Ljg3IDUwIDAgNTAgNTcuNzMgMCAyOC44NyIgZmlsbD0iIzMzMyIvPjwvc3ZnPg==);
}

.player__skip-text {
  text-align: center;
  line-height: 4rem;
  display: block;
  font-weight: 600;
  color: $black;

  @include desktop {
    font-size: 2rem;
    line-height: 6rem;
  }
}

.player__play-circle,
.player__play:hover .player__play-bars,
.player__play:hover .player__play-triangle {
  fill: $white;
}

.player__play-bars {
  opacity: 0;
}

.player__play-triangle,
.player__play-bars,
.player__play:hover .player__play-circle {
  fill: $black;
}

.player__play--playing .player__play-bars {
  opacity: 1;
}

.player__play--playing .player__play-triangle {
  opacity: 0;
}

.player__controls-center {
  min-width: 0;
  max-width: 70rem;
  flex: 1 1 100%;
  align-self: center;
  text-align: center;
  @include tablet {
    margin: 0 $space;
  }

  @include desktop {
    max-width: 90rem;
  }
}

.player__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: $player-title-font-size;

  @include desktop {
    margin-bottom: $small-space / 2;
    font-size: $player-title-font-size * 1.3;
  }
}

.player__title-link:hover,
.player__author a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.player__author {
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include desktop {
    font-size: 1.6rem;
  }
}

.player__seek-bar {
  display: none;
  @include tablet {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 0.5rem;
  }
  @include desktop {
    margin-top: 0.5rem;
  }
}

.seek-bar__progress {
  width: 100%;
  height: 1rem;

  @include desktop {
    height: 1.5rem;
  }
}

.seek-bar__time {
  display: flex;
  justify-content: space-between;
}

.seek-bar__text {
  font-weight: 500;
  display: inline-block;
  @include laptop {
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }
}

.player__playback-rate {
  display: none;
  @include tablet {
    width: 3rem;
    margin-right: $space;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include desktop {
    margin-right: $large-space;
  }
}

.playback-rate__control {
  opacity: 0;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s ease;

  @include laptop {
    width: 2.5rem;
    height: 2.5rem;
  }

  @include desktop {
    width: 3rem;
    height: 3rem;
  }
}

.player__playback-rate:hover .playback-rate__control {
  opacity: 1;
}

.playback-rate__button {
  fill: $black;
  opacity: 0.5;
}

.playback-rate__button:hover {
  opacity: 1;
}

.playback-rate__text {
  margin: $small-space / 2 0;
  width: 3.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 0.2rem solid $black;

  @include laptop {
    font-size: 1.4rem;
  }

  @include desktop {
    font-size: 1.6rem;
    margin: $small-space 0;
  }
}

.player__volume {
  display: none;
  @include tablet {
    margin-right: $space;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  @include desktop {
    margin-right: $large-space;
  }
}

.volume__icon {
  height: 3rem;
  width: 4rem;
  fill: $black;
  margin-right: $small-space / 2;
  @include desktop {
    width: 5rem;
    height: 4rem;
  }
}

.volume__cross {
  opacity: 0;
}

.player__volume--muted .volume__cross {
  opacity: 1;
}

.volume__range {
  width: 6rem;

  @include desktop {
    width: 8rem;
  }
}

.player__up-next {
  margin: 0 $small-space;
  @include tablet {
    margin-left: 0;
    margin-right: $space;
  }

  @include desktop {
    margin-right: $large-space;
  }
}

.up-next__icon {
  width: 2.5rem;
  height: 3rem;
  fill: $black;

  @include laptop {
    width: 3rem;
    height: 3.5rem;
  }

  @include desktop {
    width: 4rem;
    height: 4.5rem;
  }
}

//https://css-tricks.com/html5-progress-element/

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 0.1rem solid $black;
  background: $white;

  /* For IE10 */
  color: $black;
}

progress[value]::-webkit-progress-bar {
  background: $white;
}

progress[value]::-webkit-progress-value {
  background: $black;
}

progress[value]::-moz-progress-bar {
  background: $black;
}
