.player {
  display: none;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: $player-height;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0.5rem $black;
}

.player-is-open .player {
  display: flex;
}

.player__skip,
.player__play {
  width: $player-controls-icons-size;
  height: $player-controls-icons-size;
  cursor: pointer;
}

.player__play {
  fill: $black;
}

.player__controls-left,
.player__controls-right {
  display: flex;
  align-items: center;
}

.player__link-to-podcast {
  margin-left: $space;
}

.player__podcast-atrwork {
  height: 7rem;
  width: 7rem;
  transition: all 0.3s ease;
  border: 0.1rem solid $black;
}

.player__podcast-atrwork:hover {
  transform: scale(1.2);
}

.player__skip {
  background-repeat: no-repeat;
}

.player__play {
  margin: 0 $space;
}

.player__skip-forward {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 45 45' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eplayer/skipforward%3C/title%3E%3Cpath d='M33 9H21.5C12.94 9 6 15.94 6 24.5 6 33.06 12.94 40 21.5 40 30.06 40 37 33.06 37 24.5a1 1 0 0 0-2 0C35 31.956 28.956 38 21.5 38S8 31.956 8 24.5 14.044 11 21.5 11H33v4l6-5-6-5v4z' fill='%23333' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.player__skip-back {
  margin-left: $space;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 45 45' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eplayer/skipback%3C/title%3E%3Cpath d='M12 9h11.5C32.06 9 39 15.94 39 24.5 39 33.06 32.06 40 23.5 40 14.94 40 8 33.06 8 24.5a1 1 0 0 1 2 0C10 31.956 16.044 38 23.5 38S37 31.956 37 24.5 30.956 11 23.5 11H12v4l-6-5 6-5v4z' fill='%23333' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.player__skip-text {
  width: $player-controls-icons-size;
  height: $player-controls-icons-size;
  text-align: center;
  line-height: $player-controls-icons-size;
  display: block;
  font-weight: 600;
  color: $black;
}

.player__play-circle,
.player__play:hover .player__play-bars,
.player__play:hover .player__play-triangle {
  fill: $white;
}

.player__play-bars {
  opacity: 0;
}

.player__play-triangle,
.player__play-bars,
.player__play:hover .player__play-circle {
  fill: $black;
}

.player__play--playing .player__play-bars {
  opacity: 1;
}

.player__play--playing .player__play-triangle {
  opacity: 0;
}

.player__controls-center {
  min-width: 0;
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
  margin: 0 $space;
}

.player__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: $small-space / 2;
  font-size: $player-title-font-size;
}

.player__title-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.player__author {
  font-style: italic;
}

.player__seek-bar {
  width: 100%;
  position: relative;
}

.seek-bar__range {
  width: 100%;
}

.seek-bar__text {
  font-weight: 500;
}

.seek-bar__text--left,
.seek-bar__text--right {
  position: absolute;
  top: 3.5rem;
}
.seek-bar__text--left {
  left: 0;
}

.seek-bar__text--right {
  position: absolute;
  right: 0;
}

.player__playback-rate {
  width: 3rem;
  // height: 8rem;
  margin-right: $large-space;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playback-rate__control {
  opacity: 0;
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease;
}

.player__playback-rate:hover .playback-rate__control {
  opacity: 1;
}

.playback-rate__button {
  fill: $black;
  opacity: 0.5;
}

.playback-rate__button:hover {
  opacity: 1;
}

.playback-rate__text {
  margin: $small-space 0;
  width: 3.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 0.2rem solid $black;
}

.player__volume {
  margin-right: $large-space;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.volume__icon {
  height: 100%;
  fill: $black;
  margin-right: $small-space / 2;
}

.volume__cross {
  opacity: 0;
}

.player__volume--muted .volume__cross {
  opacity: 1;
}

.volume__range {
  width: 6rem;
}

.player__up-next {
  margin-right: $large-space;
}

.up-next__icon {
  height: 2rem;
  fill: $black;
}
