.feed {
  margin-top: $space;
}

.episode {
  display: flex;
  border-bottom: 0.1rem solid $dark-gray;
  width: 100%;
  height: 7rem;
  transition: all 0.2s ease;
  align-items: center;
}

.episode:hover {
  color: $light-blue;
}

.episode__title {
  width: 70%;
  padding-right: $space;
  cursor: pointer;
}

.episode__title p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  font-weight: 500;
}

.episode__controls,
.episode__pub-date,
.episode__duration {
  width: 10%;
}

.episode__controls {
  margin-left: auto;
}

.controls__play {
  fill: $light-blue;
  width: 3rem;
}

.controls__play:hover {
  transform: scale(1.2);
}

.controls__play:hover .play__circle {
  fill: $light-blue;
}

.controls__play:hover .play__triangle,
.controls__play:hover .play__bars {
  fill: $white;
}

.play__bars {
  opacity: 0;
}

.episode--active .play__bars {
  opacity: 1;
}

.episode--active .play__triangle {
  opacity: 0;
}
