.inner-header {
  margin-bottom: $space;
  padding: 0 $small-space;

  @include tablet {
    padding: 0;
  }
}

.inner-header__title {
  text-align: center;
  font-size: $title-font-size;
  font-weight: 700;
  margin-bottom: $small-space;

  @include tablet {
    text-align: left;
  }
}

.inner-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-header__search-btn,
.inner-header__back-btn {
  cursor: pointer;
  font-weight: 500;
  color: $light-blue;

  @include desktop {
    font-size: 1.6rem;
  }
}

.inner-header__back-btn {
  display: inline-block;
  position: relative;
  padding-left: $ih-arrow-size + $ih-arrow-wiggle;
  line-height: $ih-arrow-size;
  vertical-align: middle;
}

.inner-header__back-arrow {
  position: absolute;
  left: 0;
  top: 0;
  width: $ih-arrow-size;
  height: $ih-arrow-size;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='25' height='25' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eicon/arrow%3C/title%3E%3Cdefs%3E%3Cpath d='M16.172 11H4.592c-.555 0-1.006.444-1.006 1 0 .552.45 1 1.007 1h11.579l-5.293 5.293a1 1 0 0 0 1.414 1.414L20 12l-7.707-7.707a1 1 0 0 0-1.414 1.414L16.172 11z' id='a'/%3E%3C/defs%3E%3Cuse fill='%2377d0ff' transform='matrix(-1 0 0 1 23.586 0)' xlink:href='%23a' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50%;
}

.inner-header__back-btn:hover .inner-header__back-arrow {
  animation: arrow-wiggle 0.5s ease-out;
}

@keyframes arrow-wiggle {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX($ih-arrow-wiggle);
  }

  100% {
    transform: translateX(0);
  }
}
