.page-content {
  display: flex;
  width: $site-width;
  height: 100vh;
  flex-direction: row;
}

.page-content__sidebar {
  width: $page-content-sidebar-width;
  height: 100vh;
  flex-shrink: 0;
  background: $sidebar-bg;
  color: $sidebar-color;
}

.page-content__main {
  padding: $space;
  overflow-y: scroll;
  width: $page-content-main-width;
}

.main {
  max-width: $main-width;
  margin: 0 auto;
}

.player-is-open .page-content__sidebar,
.player-is-open .page-content__main {
  height: calc(#{100vh} - #{$player-height});
}

.player-is-open .player {
  display: flex;
}
