.page-content {
  display: flex;
  width: $site-width;
  height: 100vh;
  flex-direction: row;
}

.page-content__sidebar {
  display: flex;
  transition: left 0.3s ease;
  width: $page-content-sidebar-width;

  position: fixed;
  top: $header-height;
  left: -$page-content-sidebar-width;
  bottom: 0;
  z-index: 301;
  flex-shrink: 0;
  background: $sidebar-bg;
  color: $sidebar-color;
  overflow-y: auto;

  @include laptop {
    position: relative;
    display: block;
    width: $page-content-sidebar-width;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
  }

  @include desktop {
    width: $page-content-sidebar-width-desktop;
  }
}

.top-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  background: $dark-blue;
  height: $header-height;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  z-index: 301;

  @include laptop {
    display: none;
  }
}

.top-header__logo {
  width: 15rem;

  @include tablet {
    width: 20rem;
  }
}

.top-header__nav-toogle {
  cursor: pointer;
  height: $header-nav-toogle;
  width: $header-nav-toogle;
  position: absolute;
  top: $small-space;
  left: $space;
}

.page-content__main {
  position: relative;
  top: $header-height;

  overflow-y: scroll;
  width: 100%;

  @include tablet {
    padding: $space;
  }

  @include laptop {
    top: 0;
    width: $page-content-main-width;
  }

  @include desktop {
    width: $page-content-main-width-desktop;
  }
}

.top-header__overlay {
  display: none;
  @include overlay(rgba($black, 0.3));
}

.main {
  max-width: $main-width;
  margin: 0 auto;
}

.player-is-open .page-content__sidebar,
.player-is-open .page-content__main {
  height: calc(#{100vh} - #{$player-height-small} - #{$header-height});

  @include tablet {
    height: calc(#{100vh} - #{$player-height} - #{$header-height});
  }

  @include laptop {
    height: calc(#{100vh} - #{$player-height});
  }

  @include desktop {
    height: calc(#{100vh} - #{$player-height-desktop});
  }
}

.nav-is-open .page-content__sidebar {
  left: 0;
}
.nav-is-open .top-header__overlay {
  display: block;
}

.new-releases__content,
.in-progress__content,
.starred__content,
.podcasts__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  text-align: center;

  @include tablet {
    padding-top: 10rem;
  }

  h2 {
    margin-bottom: $small-space;
  }

  a {
    color: $light-blue;
  }
}
