.sidebar__logo {
  display: none;

  @include tablet {
    display: block;
    margin: $space;
  }

  @include desktop {
    margin: $large-space;
  }
}

.sidebar__link {
  display: block;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: $sidebar-font-size;
  line-height: $sidebar-font-size;
  padding: $small-space 0 $small-space $large-space;
  text-align: left;

  @include desktop {
    font-size: $sidebar-font-size * 1.2;
    line-height: $sidebar-font-size * 1.2;
  }
}

.sidebar__link--selected,
.sidebar__link:hover {
  color: $sidebar-color-active;
}

.auth {
  margin-top: $large-space;
}
