//Colors
$dark-blue: #1c203c;
$light-blue: #77d0ff;
$dark-gray: #626262;
$white: #fafafa;

//Body
$body-background-color: $white;
$body-default-color: #333;
$body-default-font-family: Helvetica, Arial, sans-serif;

//Spacing
$small-space: 1rem;
$space: 2rem;
$large-space: 3rem;
$site-width: 100%;

//Font sizes
$base-font-size: 1.4rem;

//Page Content
$page-content-sidebar-width: 24rem;
$page-content-main-width: calc(#{$site-width} - #{$page-content-sidebar-width});

// Sidebar
$sidebar-bg: $dark-blue;
$sidebar-color: $white;
$sidebar-color-active: $light-blue;
$sidebar-font-size: 2rem;
