//Colors
$dark-blue: #1c203c;
$light-blue: #77d0ff;
$dark-gray: #626262;
$light-gray: #c0c0c0;
$white: #fafafa;
$black: #333;
$red: #d0021b;
$light-red: #e4393f;
$yellow: #e6e642;

//Body
$body-background-color: $white;
$body-default-color: $black;
$body-default-font-family: Helvetica, Arial, sans-serif;

//Media breakpoints
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;

//Base64 svg
$close-icon-svg: url(data:image/svg+xml;base64,IDxzdmcgZmlsbD0iIzMzMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTkyLjMzIDE5Mi4zMyI+ICAgICAgPHBhdGggZD0iTTk2LjE3IDEyNi41N2wtNjUuMDYgNjUuMDYtMzAuNC0zMC40MSA2NS4wNS02NS4wNUwuNzEgMzEuMTEgMzEuMTEuNzFsNjUuMDYgNjUuMDVMMTYxLjIyLjcxbDMwLjQxIDMwLjQtNjUuMDYgNjUuMDYgNjUuMDYgNjUuMDUtMzAuNDEgMzAuNDEtNjUuMDUtNjUuMDZ6IiAvPiAgICAgIDxwYXRoIGQ9Ik0xNjEuMjIgMS40MWwyOS43IDI5LjctNjQuMzUgNjQuMzUtLjcuNzEuNy43IDY0LjM1IDY0LjM1LTI5LjcgMjkuNy02NC4zNS02NC4zNS0uNy0uNy0uNzEuNy02NC4zNSA2NC4zNS0yOS43LTI5LjcgNjQuMzUtNjQuMzUuNzEtLjctLjcxLS43MUwxLjQxIDMxLjExbDI5LjctMjkuNyA2NC4zNSA2NC4zNS43MS43MS43LS43MSA2NC4zNS02NC4zNW0wLTEuNDFsLTY1IDY1LjA1TDMxLjExIDAgMCAzMS4xMWw2NS4wNSA2NS4wNkwwIDE2MS4yMmwzMS4xMSAzMS4xMSA2NS4wNi02NS4wNSA2NS4wNSA2NS4wNSAzMS4xMS0zMS4xMS02NS4wNS02NSA2NS4wNS02NS4wNkwxNjEuMjIgMHoiIC8+ICAgIDwvc3ZnPg==);

//Spacing
$small-space: 1rem;
$space: 2rem;
$large-space: 3rem;
$site-width: 100%;

//Font sizes
$base-font-size: 1.4rem;

//Page Content
$page-content-sidebar-width: 24rem;
$page-content-sidebar-width-desktop: 32rem;
$page-content-main-width: calc(#{$site-width} - #{$page-content-sidebar-width});
$page-content-main-width-desktop: calc(
  #{$site-width} - #{$page-content-sidebar-width-desktop}
);
$main-width: 120rem;
// Header
$header-height: 5rem;
$header-nav-toogle: 3rem;
// Button
$button-bg: $light-blue;
$button-color: $white;
$button-shadow-color: rgba($black, 0.2);
$button-spacing: $small-space;
// Sidebar
$sidebar-bg: $dark-blue;
$sidebar-color: $white;
$sidebar-color-active: $light-blue;
$sidebar-font-size: 2rem;
// Preview
$preview-title-font-size: 2.5rem;
$preview-desc-font-size: 1.6rem;
// Inner header
$title-font-size: 3.5rem;
$ih-arrow-size: 2.5rem;
$ih-arrow-wiggle: 1rem;
// Genre
$genre-spacing: 0.5rem;
$genre-nav-height: 70rem;
$genre-title-font-size: 1.6rem;
// Podcast
$podcast-image-size: 22rem;
$podcast-title: 3.5rem;
// Player
$player-height: 9rem;
$player-height-small: 6rem;
$player-height-desktop: 12rem;
$player-title-font-size: 1.6rem;
$player-controls-icons-size: 4rem;
$player-controls-icons-size-desktop: 7rem;
// Input range
$track-color: #fff;
$thumb-color: $white;
$thumb-radius: 2rem;
$thumb-height: 2rem;
$thumb-width: 1rem;
$thumb-height-desktop: 3rem;
$thumb-width-desktop: 1.5rem;
$thumb-shadow-size: 0.5rem;
$thumb-shadow-blur: 0.5rem;
$thumb-shadow-color: rgba(0, 0, 0, 0.2);
$thumb-border-width: 0.2rem;
$thumb-border-color: $dark-gray;
$track-width: 100%;
$track-height: 0.5rem;
$track-height-desktop: 1rem;
$track-shadow-size: 0.1rem;
$track-shadow-blur: 0.1rem;
$track-shadow-color: rgba(0, 0, 0, 0.2);
$track-border-width: 0.1rem;
$track-border-color: $dark-gray;
$track-radius: 0.5rem;
$contrast: 5%;
// UpNextPopup
$upnext-height: 40rem;
$upnext-width: 50rem;
$upnext-modal-background: $white;
$upnext-overlay-background: transparent;
// EpisodeModal
$episode-modal-height: 50rem;
$episode-modal-width: 60rem;
$episode-modal-background: $white;
$episode-modal-overlay-background: rgba($black, 0.3);
// SearchModal
$search-modal-height: 35rem;
$search-modal-width: 45rem;
$search-modal-background: $white;
$search-modal-overlay-background: rgba($black, 0.1);
// AuthModal
$auth-modal-width: 35rem;
$auth-modal-background: $white;
$auth-modal-overlay-background: rgba($black, 0.3);
// LoginWarningModal
$warning-modal-background: $white;
$warning-modal-overlay-background: rgba($black, 0.3);
