.episode-modal {
  @include modal(
    $episode-modal-height,
    $upnext-width,
    $episode-modal-background
  );
  padding: $small-space;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.episode-modal__overlay {
  @include overlay($episode-modal-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.episode-modal__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: $small-space;
}
.episode-modal__author {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: $space;
}
.episode-modal__link-to-episode,
.episode-modal__description a {
  text-decoration: underline;
  color: $light-blue;
}
.episode-modal__description {
  overflow-y: auto;
  margin-top: $space;
}
.episode-modal__description p {
  margin-bottom: $small-space;
}
.episode-modal__description img {
  width: 100%;
}
