// General styles for lists and items
.modal__list {
  overflow-y: auto;
  width: 100%;
}

.modal__item {
  display: flex;
  overflow: hidden;
  height: 6rem;
  margin: 0 $small-space $small-space $small-space;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.up-next__popup .modal__item:hover .modal-item__play-icon,
.up-next__popup .modal__item:hover .modal__remove {
  @include laptop {
    opacity: 1;
  }
}

.up-next__popup .modal__item:hover .modal-item__info {
  @include laptop {
    margin-right: $space;
  }
}

.up-next__popup .modal-item__info {
  margin-right: $space;

  @include laptop {
    margin-right: 0;
  }
}

.modal-item__artwork {
  flex-shrink: 0;
  width: 6rem;
  height: 6rem;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-item__play-icon {
  width: 5rem;
  height: 5rem;
  padding: $small-space;
  opacity: 0.3;
  fill: darken($white, 0.5);
}

.modal-item__info {
  min-width: 0;
  padding: $small-space; //https://stackoverflow.com/questions/45813304/text-overflow-ellipsis-on-flex-child-not-working
}

.modal-item__title,
.modal-item__author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal-item__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.modal-item__author {
  font-style: italic;
}

.modal__remove {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: $small-space;
  right: $small-space;
  opacity: 1;

  @include laptop {
    opacity: 0;
  }
}

// UpNext popup
.up-next__popup {
  @include modal($upnext-height, $upnext-width, $upnext-modal-background);
  bottom: calc(#{$player-height-small} - #{$small-space});

  border: 0.1rem solid $black;
  box-shadow: 0 0 0.1rem 0 rgba($black, 0.3), 0 1rem 1.5rem rgba($black, 0.2);

  @include tablet {
    right: $large-space;
    bottom: calc(#{$player-height} - #{$large-space});
  }
}

.up-next__title {
  padding: $small-space $space;
  font-size: 2.2rem;
}

.up-next__popup-overlay {
  @include overlay($upnext-overlay-background);
}

.up-next__empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.empty__text {
  font-size: 1.7rem;
  font-style: italic;
}

// Episode detailes modal
.episode-modal {
  @include modal(
    $episode-modal-height,
    $episode-modal-width,
    $episode-modal-background
  );
  padding: $small-space;
}
.episode-modal__overlay {
  @include overlay($episode-modal-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.episode-modal__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: $small-space;
}
.episode-modal__author {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: $space;
}
.episode-modal__link-to-episode,
.episode-modal__description a {
  text-decoration: underline;
  color: $light-blue;
}
.episode-modal__description {
  overflow-y: auto;
  margin-top: $space;
}
.episode-modal__description p {
  margin-bottom: $small-space;
}
.episode-modal__description img {
  width: 100%;
}
// Search modal
.search-modal {
  @include modal(
    $search-modal-height,
    $search-modal-width,
    $search-modal-background
  );
  padding: $small-space;
  top: calc(#{$header-height} + #{$space});
  @include tablet {
    right: $large-space;
  }
  @include laptop {
    top: $space;
  }
  @include desktop {
    right: calc(
      (#{$site-width} - #{$page-content-sidebar-width} - #{$main-width}) / 2
    );
  }
}
.search-modal__overlay {
  @include overlay($search-modal-overlay-background);
}
.search-modal__input {
  color: $black;
  width: 100%;
  padding: 0.5rem $space;
  margin-bottom: $small-space;
  border-radius: 1rem;
  border: 0.1rem solid rgba($black, 0.4);
  outline: none;
  font-size: 1.8rem;
}
.auth-modal {
  @include modal(
    $height: null,
    $width: $auth-modal-width,
    $background: $auth-modal-background
  );
  padding: $large-space;
}
.auth-modal__overlay {
  @include overlay($auth-modal-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-modal__title {
  font-size: 2.5rem;
  margin-bottom: $space;
}
.auth-modal__input,
.auth-modal__button {
  width: 100%;
  border: 0.1rem solid $black;
  padding: $small-space;
  outline: none;
  background-color: rgba($black, 0.1);
  font-size: 1.6rem;
  margin-top: 0.5rem;
  margin-bottom: $space;
}
.auth-modal__input:focus {
  background-color: $white;
}
.auth-modal__label {
  font-size: 1.4rem;
  cursor: pointer;
}
.auth-modal__button {
  cursor: pointer;
  background: $dark-blue;
  color: $white;
}
.auth-modal__button:hover {
  background: lighten($dark-blue, 20%);
}
.auth-modal__error {
  display: inline-block;
  margin-bottom: $small-space;
  color: $red;
}
.auth-modal__text-btn {
  text-align: center;
  width: 100%;
}
.warning-modal {
  position: fixed;
  z-index: 301;
  background: $warning-modal-background;
  border-radius: 0.5rem;
  outline: none;
  display: flex;
  flex-direction: column;
  padding: $small-space;
  animation: appearance 0.5s ease;
}
.warning-modal__overlay {
  @include overlay($warning-modal-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.warning-modal__header {
  font-size: 1.8rem;
  @include tablet {
    font-size: 2.2rem;
  }
}
.warning-modal__text {
  font-size: 1.2rem;
  margin-top: $small-space / 2;
  @include tablet {
    font-size: 1.6rem;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
