.up-next__modal {
  outline: none;
  position: fixed;
  background: $white;
  right: $large-space;
  bottom: calc(#{$player-height} - #{$large-space});
  width: 50rem;
  height: 40rem;
  z-index: 301;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid $black;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.1rem 0 rgba($black, 0.3), 0 1rem 1.5rem rgba($black, 0.2);
}

.up-next__title {
  font-size: 2.5rem;
  padding: $small-space $space;
}

.up-next__queue {
  overflow-y: scroll;
  width: 100%;
}

.modal__overlay {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}

.up-next__empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.empty__title {
  font-size: 2.2rem;
  margin-bottom: $small-space;
}

.empty__text {
  font-style: italic;
  font-size: 1.7rem;
}

.queue__item {
  height: 6rem;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  margin: 0 $small-space $small-space $small-space;
  transition: all 0.3s ease;
}

.queue__item:hover .queue__play-icon {
  opacity: 1;
}

.queue__play-icon {
  width: 6rem;
  height: 6rem;
  padding: $small-space;
  flex-shrink: 0;
  fill: $black;
  opacity: 0.3;
}

.queue__info {
  //https://stackoverflow.com/questions/45813304/text-overflow-ellipsis-on-flex-child-not-working
  min-width: 0;
  padding: $small-space;
}

.queue__title,
.queue__author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.queue__title {
  font-weight: 600;
  font-size: 1.7rem;
}

.queue__author {
  font-style: italic;
}
